@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  margin: 0;
  padding: 0;

}
.main-home{
  background-image: linear-gradient(120deg, #12053a 6%, #C850C0 100%);
  min-height: 768px;
}
.container-fluid{

  position: relative;
}
.development{
  width: 100%;
}
img.logo{
  margin-top:20px;
  margin-left: 20px;
}
.main-menu{
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
.top-150{
  margin-top: 100px;
}
.intro-home{
  font-family: 'open_sansregular';
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}
.intro-home h3{
  color: rgb(211, 196, 218);


}
.intro-home h3 span{
  color: rgb(207, 87, 84);
}
.intro-home p{
  color: rgb(196, 193, 193);
  font-size: 15px;
}
.intro-home p span{
  color: rgb(240, 156, 18);
  font-style: italic;
}
.main-menu li{
  display: inline-block;
  margin: 10px;
  font-family: 'open_sansregular';
  font-style: italic;
  font-size: 14px;
}
.benefits-text{
  font-family: 'open_sansregular';
}
.main-menu li a{
  color: white;
  text-decoration: none;
  position: relative;
}
.main-menu li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #b428c1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.main-menu li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* about page */
.benefits{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  position: relative;
}
.e-commerce{
  position: absolute;
  width: 70%;
}
.bg-circle{
  width: 450px;
  height: 450px;
  border-radius: 225px;
  background: linear-gradient(221deg, #610466, #d00bd4);
  box-shadow: -1px 14px 18px -6px #7e4c7e,
              0 -10px 17px #d0c3d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 420px) {
    .why .bg-circle{
    height: 350px;
    width: 350px;
  }
    .why .benefits{
    height: 500px;
  }
    .why .foundation{
        padding: 0;
    }
}
@media only screen and (max-width: 350px) {
  .why .bg-circle{
    height: 300px;
  }
}
.benefits-text h1{
  margin-top: 120px;
  line-height: 40px;
  margin-bottom: 20px;
  font-size: 35px;
}
.benefits-text p{
  font-size: 16px;
}
.d-flex{
  display: flex;
  justify-content: center;
}
.standard h1{
  text-align: center;
}
.standard h3{
  background: linear-gradient(221deg, #d00bd4, #610466);
  padding: 15px;
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
  flex: 1;
}
.standard .accordion-button{
  padding: 0;
}
.standard .accordion-item{
  border: 0;
}
.standard .accordion-button:not(.collapsed){
  background: none;
  box-shadow: none;
}

.standard .accordion-button::after,.standard .accordion-button:not(.collapsed)::after{
  background: none;
}
.foundation{
  padding-left: 50px;
}
.foundation h2{
  margin-top: 120px;
}

/* logo page */
.logo_design{
  background: none;
  min-height: 668px;
  background-image: radial-gradient(#8a5b96, #37023a);
  margin-top: 100px;
  z-index: -2;
}
.logo_design h1{
  text-align: center;
  background: -webkit-linear-gradient(#bf953f, #fcf6ba 28.99%, #b38728 51.26%, #fbf5b7 74.79%, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'beautyregular';
  font-size: 55px;
  margin-top: 30px;
}
.logo_design .content{
  min-height: 300px;
  min-width: 300px;
  background-image: linear-gradient(#161618, #323234);
  margin: 10%;
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.logo_design .content:before, .logo_design .content:after{
  position:absolute;
  content:"";
  bottom:12px;left:15px;
  height: 100px;
  width:45%;
  background: #170f0c;
  z-index:-1;
  box-shadow: 0 20px 15px #010101;
  transform: rotate(-6deg);
}
.logo_design .content:after{
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  transform: rotate(6deg);
  right: 15px;left: auto;
}
.logo_design .content .more{
  width: 100%;
  padding: 20px 0;
}
.logo_design .content .more a{
  background-image: linear-gradient(90deg,#006175 0,#00a950);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  height: 30px;
  font-size: 0.7em;
  padding: 2px;
  position: relative;
  text-decoration: none;
  width: 9em;
  z-index: 2;
  margin: auto;
  animation: bn53bounce 4s infinite;
  cursor: pointer;

}
@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}
.logo_design .content .more a span{
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background .5s ease;
  width: 100%;
}
.logo_design .content .more a span:hover{
    background: transparent;
}

.box{
  width: 120px;
  height: 120px;
  margin: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.box img{
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app_design{
  min-height: 768px;
  background-image: linear-gradient(120deg, #12053a 6%, #C850C0 100%);
  z-index: -2;
}
.app_design h1{
  text-align: center;
  color: white;
  font-size: 40px;
}
.app_design .content{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.why{
  position: relative;
  background-image: url(../images/city_bg.jpg);
  background-repeat: no-repeat;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.why::before{
  content: "";
  position: absolute;
  background: linear-gradient(rgba(254, 254, 254, 0.6),
                              rgba(255, 255, 255, 1) 0%,
                              rgba(255, 255, 255, 0.6) 16.81%,
                              rgba(255, 255, 255, 0.6) 47.48%,
                              rgba(255, 255, 255, 0.86) 59.66%,
                              rgba(255, 255, 255, 1) 72.27%);
  top: 0;
  left: 0;
  height: 864px;
  width: 100%;
}
.why .accordion-item, .why .accordion-button{
  background: none;
}
.app_design .content h2{
  width: 100%;
  padding: 20px 0 20px 30px;
  color: wheat;
}
.app_slogan{
  color: rgb(255, 182, 0);
  font-size: 30px;
}
.content_right{
  padding: 150px 0 0 0;
}
.cls-10{
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 2s linear forwards infinite;
  fill-opacity: 0;
  animation-direction: alternate-reverse;
}
.cls-6{
  animation: draw2 2s linear forwards infinite;
  fill-opacity: 0;
  animation-direction: alternate-reverse;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
@keyframes draw2 {
  to {
    fill-opacity: 1;
  }
}
.wrap_home_menu{
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 20px;
}
.parent_home_menu{
  position: relative;
  border-radius: 20px;
  padding: 15px 8px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  opacity: 0.2;

}
.parent_home_menu:hover{
  opacity: 1;
}
.home_menu{
  list-style: none;
  padding: 0;
}

.home_menu img{
  width: 18px;
}
.home_menu img:hover{
  mix-blend-mode: hard-light;
}

a[data-tooltip].right:before, a[data-tooltip].right:after {
  transform: translateX(0px);
}
a[data-tooltip].right:hover:after, a[data-tooltip].right:hover:before {
  transform: translateX(10px);
}


a[data-tooltip] {
  position: relative;
}
a[data-tooltip]:after, a[data-tooltip]:before {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: transform 200ms ease, opacity 200ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
a[data-tooltip]:before {
  content: attr(data-tooltip);
  background: #f137ab;
  color: #f0ef5c;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a[data-tooltip]:after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}
a[data-tooltip]:hover:after, a[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 0.85;
  transform: translateY(0px);
}



a[data-tooltip][data-position="right"]:before {
  top: -5%;
  left: 100%;
  margin-left: 10px;
}

a[data-tooltip][data-position="right"]:after {
  border-right-color: #f03ebd;
  border-left: none;
  top: calc(50% - 6px);
  left: calc(100% + 4px);
}


/*  */
/* Circle */
.hover15 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px !important;
    overflow: hidden;

}

.hover15::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(239, 172, 244, 0.4);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.hover15:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}
.hover15 img{
  transition: all .3s;
}
.hover15:hover img{
  transform: scale(1.2);
}
@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
.tek{
  position: relative;
  top: 50%;
}
.owl-nav{
  position: relative;
}

.tek .owl-carousel .owl-nav .owl-prev{
  position: absolute;
  left: 0;
  color: rgb(164, 4, 144);
  font-size: 30px;
}
.tek .owl-carousel .owl-nav .owl-next{
  position: absolute;
  right: 0;
  color: rgb(164, 4, 144);
  font-size: 30px;
}
.footing{
  background: linear-gradient(149deg, rgb(150, 147, 147), rgb(188, 190, 188) 21.01%, rgb(248, 250, 249) 99.16%);
  padding-bottom: 30px;
  font-size: 14px;
}
.lienhe{

}
.footing h3{
  font-size: 18px;
}
.lienhe p{
  margin: 0;
}
.ketnoi{
  margin: 20px 0 0;
}
.ketnoi h3{
  font-size: 18px;
}

.ketnoi .social{
  display: flex;
}
.ketnoi .social a{
  text-decoration: none;
  width: 42px;
  height: 42px;
  background: #9c0f9f;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.baogia{
  margin-top: 40px;
}
.baogia .form-group{
    margin-bottom: 15px;
}
.baogia .form-group input, .baogia .form-group textarea{
    background: rgb(193, 192, 192);
}
.baogia .btn-primary{
    display: block;
    width: 130px;
    margin: auto;
    background: rebeccapurple;
    height: 35px;
    padding: 0;
    border-radius: 20px;
}
.baogia .btn-primary:hover{
    background: rgb(160, 43, 181);
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}